/* Navbar background color */
.navbar {
  position: fixed;
  top: 0; /* Ensures the navbar stays at the very top */
  left: 0;
  right: 0;
  z-index: 1030; /* Keeps navbar above other content */
  width: 100%; /* Full width */
  background-color: rgba(
    0,
    0,
    0,
    0.52
  ) !important; /* Semi-transparent background */
  transition: transform 0.3s ease-in-out; /* Smooth transition for showing/hiding */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Navbar visible */
.navbar-visible {
  transform: translateY(0); /* Keep navbar at the top */
}

/* Navbar hidden when scrolling down */
.navbar-hidden {
  transform: translateY(-100%); /* Move navbar off-screen */
}

/* Nav Buttons */
.nav-link {
  color: white !important;
  font-family: "Inter";
  font-weight: 300;
  font-style: normal;
}

/* Hover effect for nav links */
.nav-link:hover {
  font-weight: 600;
  text-decoration: underline;
}

/* Contact Us Button */
.btn {
  color: rgb(0, 0, 0) !important;
  background-color: #ffe600 !important;
  font-family: "Inter";
  font-weight: bolder;
  font-style: normal;
}

/* Move the "Contact Us" button to the right */
.ms-auto {
  margin-left: auto;
}

/* Ensure no space at the top of the page */
body {
  margin-top: 0 !important; /* Remove any default margin/padding */
}

/* Scroll Stuff */

.scroll-down {
  transform: translate3d(0, -100%, 0);
}

.scroll-up {
  filter: drop-shadow(0 -10px 20px rgb(45, 0, 0));
}
