/* .grid-lines {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;

  background: linear-gradient(
    to right,
    transparent 0,
    transparent 25%,
    rgba(255, 255, 255, 0.06) 25%,
    rgba(255, 255, 255, 0.06) calc(25% + 1px),
    transparent calc(25% + 1px),
    transparent 50%,
    rgba(255, 255, 255, 0.06) 50%,
    rgba(255, 255, 255, 0.06) calc(50% + 1px),
    transparent calc(50% + 1px),
    transparent 75%,
    rgba(255, 255, 255, 0.06) 75%,
    rgba(255, 255, 255, 0.06) calc(75% + 1px),
    transparent calc(75% + 1px),
    transparent 100%
  );

  background-repeat: no-repeat;
  background-size: 100% 100%;
} */
